@{
    ViewData["Title"] = "Inicio";
}

<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3"> SISCO-SAYAC</h1>
            <p>Aqui una pequeña descripcion de lo que es SISCO-SAYAC.</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Quieres saber mas? &raquo;</a></p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-3">
                <h2>Obras</h2>
                
                <p><a class="btn btn-secondary" href="Obras" role="button">Detalles &raquo;</a></p>
            </div>
            <div class="col-md-3">
                <h2>Contratistas</h2>
                
                <p><a class="btn btn-secondary" href="Contratistas" role="button">Detalles &raquo;</a></p>
            </div>
            <div class="col-md-3">
                <h2>Contratos</h2>
                
                <p><a class="btn btn-secondary" href="Contratos" role="button">Detalles &raquo;</a></p>
            </div>
            <div class="col-md-3">
                <h2>Reportes</h2>
                
                <p><a class="btn btn-secondary" href="Reportes" role="button">Detalles &raquo;</a></p>
            </div>
        </div>

        <hr>

    </div> <!-- /container -->

</main>
