@model SISCO_SAYACv3._5.Models.Reportes

@{
    ViewData["Title"] = "Crear un nuevo campo";
}

<h1>Crear un nuevo campo</h1>

<h4>Reportes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nombre_reportes" class="control-label"></label>
                <input asp-for="nombre_reportes" class="form-control" />
                <span asp-validation-for="nombre_reportes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fecha_reportes" class="control-label"></label>
                <input asp-for="fecha_reportes" class="form-control" />
                <span asp-validation-for="fecha_reportes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="observacion" class="control-label"></label>
                <input asp-for="observacion" class="form-control" />
                <span asp-validation-for="observacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContratosId" class="control-label"></label>
                <select asp-for="ContratosId" class ="form-control" asp-items="ViewBag.ContratosId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
