@model SISCO_SAYACv3._5.Models.Auditorias

@{
    ViewData["Title"] = "Crear un nuevo campo";
}

<h1>Crear un nuevo campo</h1>

<h4>Auditorias</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Fecha_Inicio" class="control-label"></label>
                <input asp-for="Fecha_Inicio" class="form-control" />
                <span asp-validation-for="Fecha_Inicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha_Final" class="control-label"></label>
                <input asp-for="Fecha_Final" class="form-control" />
                <span asp-validation-for="Fecha_Final" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuariosId" class="control-label"></label>
                <select asp-for="UsuariosId" class ="form-control" asp-items="ViewBag.UsuariosId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
